.code-editor-with-lines {
  position: relative;
}

.code-editor-with-lines .w-tc-editor {
  counter-reset: line;
}

.code-editor-with-lines .w-tc-editor-text {
  padding-left: 3.5em !important;
}

.code-editor-with-lines .w-tc-editor-text pre {
  counter-reset: line;
}

.code-editor-with-lines .w-tc-editor-text pre > div {
  counter-increment: line;
  position: relative;
}

.code-editor-with-lines .w-tc-editor-text pre > div::before {
  content: counter(line);
  position: absolute;
  left: -3.5em;
  width: 2.5em;
  text-align: right;
  color: #999;
  user-select: none;
  pointer-events: none;
}
